<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <strong>机构名称:</strong>
  </div>
  <div class="ui-body ui-body-a">
  <%= @branch.branchname %>
</div>
</div>
<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <strong>机构编号:</strong>
  </div>
  <div class="ui-body ui-body-a">
  <%= @branch.coding %>
</div>
</div>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <strong>机构属性:</strong>
  </div>
  <div class="ui-body ui-body-a">
  <%= @branch.status == 99 ? "总部机构":"分支机构" %>
</div>
</div>
<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <strong>机构ID:</strong>
  </div>
  <div class="ui-body ui-body-a">
  <%= @branch.id %>
</div>
</div>

<%= link_to '编辑信息', edit_branch_path(@branch), "data-role"=>"button" %> 
