<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.label :category_id, "设备分类" %>
  <fieldset class="ui-grid-a">
  <div class="ui-block-a" style="width:85%">
      <%= f.select :category_id, sub_categories %>
    </div>
    <div class="ui-block-b" style="width:14%">
  <a href="#categories" data-role="button" data-inline="true" data-icon="bars" class="ui-btn ui-icon-grid ">?</a>
    </div>
    <div><%= f.label :brand, "品牌/厂商" %></div>
  <div class="ui-block-a" style="width:85%">
    <%= f.text_field :brand %>
    </div>
    <div class="ui-block-b" style="width:14%">
  <a href="#brand" data-role="button" data-inline="true" data-icon="bars" class="ui-btn ui-icon-grid ">i</a>
    </div>
    <%= f.label :brand_type, "品牌型号" %>
  <div class="ui-block-a" style="width:85%">
    <%= f.text_field :brand_type %>
    </div>
    <div class="ui-block-b" style="width:14%">
  <a href="#brand_type" data-role="button" data-inline="true" data-icon="bars" class="ui-btn ui-icon-grid ">i</a>
    </div>
  </fieldset>
    <%= f.label :serial_number, "序列号" %>
    <%= f.text_field :serial_number %>
    <%= f.label :inward_config, "内部配置" %>
    <%= f.text_area :inward_config %>
    <%= f.label :external_config, "外部设备" %>
    <%= f.text_area :external_config %>
    <%= f.label :member, "使用人（保管人）" %>
    <%= f.text_field :member %>
    <%= f.label :purpose, "用途说明" %>
    <%= f.text_area :purpose %>
    <%= f.label :fix, "检修联系人（方式）" %>
    <%= f.text_field :fix %>
    <%= f.label :purchase, "购置日期（出厂）" %>
    <%= f.text_field :purchase, "type"=>"date" %>
    <%= f.label :used, "投入使用日期" %>
    <%= f.text_field :used, "type"=>"date" %>
    <%= f.label :guaranteed, "过保日期" %>
    <%= f.text_field :guaranteed, "type"=>"date" %>
    <%= f.label :face, "图片链接" %>
    <%= f.text_field :face %>
    <%= f.label :network_address, "网络地址" %>
    <%= f.text_field :network_address %>
    <%= f.label :installation_address, "安装地址" %>
    <%= f.text_field :installation_address %>
    <%= f.label :remarks, "备注" %>
    <%= f.text_area :remarks %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :group_id %>
    <%= f.hidden_field :branch_id %>
  <div class="actions">
    <%= f.submit "确认提交" %>
  </div>
  <div data-role="panel" id="categories" data-position="right" data-display="overlay" data-theme="b" >
    <h3>分类说明</h3>
    <% @categories.each do |category| %>
      <div>
      <strong><%= category.parent.name+">>"+category.name+" 说明：" %></strong>
    <p><%= category.explain %></p>
</div>
  <% end %>
  </div>
  <div data-role="panel" id="brand" data-position="right" data-display="overlay" data-theme="b">
    <h3>人家都填啥？</h3>
    <% @brands.each do |brand| %>
      <input id="brandbutton<%= brand %>" type="button" data-mini="true" value="<%= brand %>"/>
    <% end %>
    <script>
      $(function(){
        $("input[id^='brandbutton']").click(function(){
            $("#device_brand").val($(this).val());
        })
      })
    </script>
  </div>
  <div data-role="panel" id="brand_type" data-position="right" data-display="overlay" data-theme="b">
    <h3>人家都填啥？</h3>
    <% @modes.each do |mode| %>
      <input id="brandtypebutton<%= mode %>" type="button" data-mini="true" value="<%= mode %>" />
  <% end %>
    <script>
      $(function(){
        $("input[id^='brandtypebutton']").click(function(){
            $("#device_brand_type").val($(this).val());
        })
      })
    </script>
  </div>
<% end %>
