<% title current_user.branch.branchname -%>
<% @devices_groups.each do |member,devices| %>
  <ul data-role="listview" data-inset="true">
    <li><%= "#{member} 使用了下面 #{devices.length} 台设备" %></li>
  <% devices.each do |device| %>
   <li>
    <a href"#">
      <%= device.photos.blank? ? image_tag("") : image_tag(device.photos.first.image.url(:thumb)) %>
    <h3><%= "["+device_status_to_string(device.status)+"]"+device.member %></h3>
    <p><%= device.brand+" "+device.brand_type %></p>
  </a>
    <%= link_to "详细信息", device %>
    </li>
  <% end %>
</ul>
<% end %>
