<% title "HOME-设备管理系统" %>
<ul data-role="listview" data-inset="true">
  <% case current_user.status %>
  <% when 1 then %>
    <li><%= link_to "设备管理", devices_path %></li>
  <% when 99 then %>
    <li><%= link_to "全辖设备管理", manage_index_path %></li>
    <li><%= link_to "设备类型管理", categories_path %></li>
    <li><%= link_to "机构列表", branches_path %></li>
    <li><%= link_to "机构管理员", members_path %></li>
  <% when 0 then %>
    <p>欢迎您成为我们的一员，如果您属于分支机构管理员，您可以在编辑自己的资料时输入您所属的群组号，等待上级管理员分配您的管理机构。</p>
    <p>如果您是总部机构的第一个注册的管理员，您可以在编辑资料中增加第一个机构，这个机构就是汇总机构，这个机构的ID就是您所建的群组号。</p>
  <% else %>

  <% end %>
</ul>
