<ul data-role="listview">
<li>
  <strong>分类名称:</strong>
  <%= @category.name %>
</li>

<li>
  <strong>说明:</strong>
  <%= @category.explain %>
</li>

<li>
  <strong>分级:</strong>
  <%= @category.level == 0 ? "顶级分类" : "二级分类" %>
</li>

<li>
  <strong>上级类型:</strong>
  <%= @category.parent_id == 0 ? "顶级分类没有上级类" : ""+@category.parent.name %>
</li>

<%= link_to 'Edit', edit_category_path(@category), "data-role"=>"button" %> 
<%= link_to 'Back', categories_path, "data-role"=>"button" %>
